*
{
	font-family:"sans serif";
	background-color:#E4DBBF;
	text-align: center;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

dad
{
	font-size: 7em;
}

body
{
	color:#383127;
}

h1
{
	color:#DC5B21;
	font-size:4em;
}

a
{
	text-decoration:none;
	color:#DC5B21;
}

a:hover { color:#70AB8F;}

#footer
{
	padding-top: 5em;
	text-align: center;
	color:#70AB8F;
}

#block
{
	margin: 0 auto;
	max-width: 50em;
	max-height: 70em;
}

#about
{
	padding-top: 1em;
}

#icons
{
	font-size: 3em;
}

#icons li
{
	display: inline;
	list-style: none;
	list-style-type: none;
}
